body { 
}

div#wrapper { 
  background: white;
  width: 1000px;
  margin: 0 auto;
}

input#alphabet { 
  width: 50em;
  font-size:large;
}

div#syllabifier { 
}

div#words { 
  column-count: 3;
  column-rule: solid 8px;
  padding: 1em;
}

ol.word li { 
  list-style:none;
}

li[lang=hil] {
  font-family: sans-serif;
}

li.phonemes {
  font-family: monospace;
}
